@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Didact +Gothic & display=swap');

:root {

    --cor1: #B69700;
    --cor2: #FFD300;
    --cor3: #393000;
    --corfundo: #F5F4C7;
    --cor5: #d6d075;
    --cor6: #05C7F2;
    --cor7: #F2059F;
    --cor8: #0D0D0D;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1:'Didact Gothic', sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.cabeçalho {
    background-image: linear-gradient(to left, var(--cor5), var(--cor2), var(--cor3));
    background-color: black;
    color: white;
    padding: 20px;
    

}

.logo-cabeçalho {
    height: 100px;

}

nav > a {
    color: white;
    text-align: right;
    font-family: var(--fonte1);
    font-size: 1.1em;
    padding: 20px;

}

.navegaçao {
    color: white;
    text-align: right;
    font-family: var(--fonte1);
    padding: 20px;
}

header > nav {
    color: white;
}

body {
    background-color: var(--corfundo)
}

main {
    background-color: white ;
    max-width: 800px;
    min-width: 300px;
    height: 1000px;
    margin:auto;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.384);

}


footer {
    margin-top: 0px;
}

.rodape {
    margin-top: 0px;
    background-color: black;
    padding: 30px;
    text-align: right;
    
   
}
.logo-rodape {
    display: inline-block;
    margin: auto;
    
   
    height: 30px;
}